
#header{background-color: yellow;
        margin-bottom: 100px;
        border: 2px double black;
        border-radius: 5px;
}

a{padding:5px;
    margin: 5px;
    text-decoration: none;
}
a:hover{color: black}

#header>p{display:flex;
          align-items: flex-start;
          justify-content: flex-start;
}

#footer{
    margin-top: 100px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    border: 2px double black;
        border-radius: 5px;
    
}


h1{
    text-align: center;
    color:red;
    text-shadow: 2px 2px 5px black;
}

.footer-selection{
    padding:10px;
    vertical-align: top;
    
}

